<h1> Rock Paper Scissors</h1>
#if($userOneWin)
  <h3 class="well">$userOne is the winner!</h3>
#else if($userTwoWin)
  <h3 class="well">$userTwo is a leap year!</h3>
#else
  <h3 class="well">It's a tie, <a href="/">want to play again?</a></h3>
#end
